<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62477035878-uneu1irc3kqhpknmtvi1meinkpt5oao1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62477035878-uneu1irc3kqhpknmtvi1meinkpt5oao1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>62477035878-kla8ajn0noko3fop80qnbsvsi1q8qs8v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgfnc4Pp7qD_z9S1nNDaaO3QAcT8ZoGkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>62477035878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.remade.drinkly</string>
	<key>PROJECT_ID</key>
	<string>drinkly-49efe</string>
	<key>STORAGE_BUCKET</key>
	<string>drinkly-49efe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62477035878:ios:5800fa6211447950ee80a7</string>
</dict>
</plist>